In [1]:
# Import Libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## 1. Load & Analyze Dataset

In [2]:
# Load dataset
df = pd.read_csv("patient_churn_dataset.csv")
df.head()

,PatientID,Age,Gender,State,Tenure_Months,Specialty,Insurance_Type,Visits_Last_Year,Missed_Appointments,Days_Since_Last_Visit,...,Overall_Satisfaction,Wait_Time_Satisfaction,Staff_Satisfaction,Provider_Rating,Avg_Out_Of_Pocket_Cost,Billing_Issues,Portal_Usage,Referrals_Made,Distance_To_Facility_Miles,Churned
0,C20000,41,Female,PA,62,Pediatrics,Medicaid,1,0,564,...,3.5,4.9,3.8,4.2,306,0,0,3,21.4,1
1,C20001,43,Female,GA,44,Internal Medicine,Self-Pay,7,4,254,...,2.6,3.1,4.7,4.3,1851,0,0,0,47.6,1
2,C20002,21,Male,MI,120,Internal Medicine,Medicaid,15,5,89,...,1.6,4.4,2.1,4.7,391,0,0,2,7.1,0
3,C20003,65,Male,FL,118,General Practice,Private,10,3,135,...,2.6,4.3,4.3,4.9,808,0,0,0,11.6,1
4,C20004,18,Female,CA,70,Cardiology,Medicaid,5,4,696,...,2.2,4.0,4.1,4.4,866,0,0,0,10.3,1

In [3]:
# Dataset infromation
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PatientID                   2000 non-null   object
 1   Age                         2000 non-null   int64
 2   Gender                      2000 non-null   object
 3   State                       2000 non-null   object
 4   Tenure_Months               2000 non-null   int64
 5   Specialty                   2000 non-null   object
 6   Insurance_Type              2000 non-null   object
 7   Visits_Last_Year            2000 non-null   int64
 8   Missed_Appointments         2000 non-null   int64
 9   Days_Since_Last_Visit       2000 non-null   int64
 10  Last_Interaction_Date       2000 non-null   object
 11  Overall_Satisfaction        2000 non-null   float64
 12  Wait_Time_Satisfaction      2000 non-null   float64
 13  Staff_Satisfaction          2000 non-null   float64
 14  Provider_Rating             2000 non-null   float64
 15  Avg_Out_Of_Pocket_Cost      2000 non-null   int64
 16  Billing_Issues              2000 non-null   int64
 17  Portal_Usage                2000 non-null   int64
 18  Referrals_Made              2000 non-null   int64
 19  Distance_To_Facility_Miles  2000 non-null   float64
 20  Churned                     2000 non-null   int64
dtypes: float64(5), int64(10), object(6)
memory usage: 328.3+ KB

In [4]:
# Shape of the Dataset
print("Total number of columns: ", df.shape[1])
print("Total number of records: ", df.shape[0])

Total number of columns:  21
Total number of records:  2000

## 2. Pre-processing

In [5]:
# Missing values in dataset
print("Total number of missing values in each column: ")
df.isnull().sum()

Total number of missing values in each column:

PatientID                     0
Age                           0
Gender                        0
State                         0
Tenure_Months                 0
Specialty                     0
Insurance_Type                0
Visits_Last_Year              0
Missed_Appointments           0
Days_Since_Last_Visit         0
Last_Interaction_Date         0
Overall_Satisfaction          0
Wait_Time_Satisfaction        0
Staff_Satisfaction            0
Provider_Rating               0
Avg_Out_Of_Pocket_Cost        0
Billing_Issues                0
Portal_Usage                  0
Referrals_Made                0
Distance_To_Facility_Miles    0
Churned                       0
dtype: int64

In [6]:
# Dupliate values in dataset
print(f"Total number of duplicate records: {df.duplicated().sum()}")

Total number of duplicate records: 0

In [7]:
# Inspecting categorical columns
categorical_cols = ['Gender', 'State', 'Specialty', 'Insurance_Type']

for col in categorical_cols:
  print(f"Unique values in {col}:")
  print(df[col].value_counts())
  print("\n")

Unique values in Gender:
Gender
Male      1016
Female     984
Name: count, dtype: int64


Unique values in State:
State
NC    259
IL    214
FL    213
PA    205
NY    197
OH    193
CA    184
GA    181
TX    180
MI    174
Name: count, dtype: int64


Unique values in Specialty:
Specialty
General Practice     302
Family Medicine      289
Orthopedics          289
Neurology            286
Pediatrics           284
Internal Medicine    277
Cardiology           273
Name: count, dtype: int64


Unique values in Insurance_Type:
Insurance_Type
Self-Pay    523
Medicare    516
Private     483
Medicaid    478
Name: count, dtype: int64

In [8]:
# Inspecting numerical columns
numerical_cols = ['Age', 'Tenure_Months', 'Visits_Last_Year', 'Missed_Appointments',
       'Days_Since_Last_Visit', 'Overall_Satisfaction',
       'Wait_Time_Satisfaction', 'Staff_Satisfaction', 'Provider_Rating',
       'Avg_Out_Of_Pocket_Cost', 'Billing_Issues', 'Portal_Usage',
       'Referrals_Made', 'Distance_To_Facility_Miles', 'Churned']

for col in numerical_cols:
  print(col)
  print(f'Minimum value in {col}: ', df[col].min())
  print(f'Maximum value in {col}: ', df[col].max())
  print("\n")

Age
Minimum value in Age:  18
Maximum value in Age:  90


Tenure_Months
Minimum value in Tenure_Months:  1
Maximum value in Tenure_Months:  120


Visits_Last_Year
Minimum value in Visits_Last_Year:  0
Maximum value in Visits_Last_Year:  15


Missed_Appointments
Minimum value in Missed_Appointments:  0
Maximum value in Missed_Appointments:  5


Days_Since_Last_Visit
Minimum value in Days_Since_Last_Visit:  1
Maximum value in Days_Since_Last_Visit:  730


Overall_Satisfaction
Minimum value in Overall_Satisfaction:  1.5
Maximum value in Overall_Satisfaction:  5.0


Wait_Time_Satisfaction
Minimum value in Wait_Time_Satisfaction:  1.5
Maximum value in Wait_Time_Satisfaction:  5.0


Staff_Satisfaction
Minimum value in Staff_Satisfaction:  2.0
Maximum value in Staff_Satisfaction:  5.0


Provider_Rating
Minimum value in Provider_Rating:  2.5
Maximum value in Provider_Rating:  5.0


Avg_Out_Of_Pocket_Cost
Minimum value in Avg_Out_Of_Pocket_Cost:  20
Maximum value in Avg_Out_Of_Pocket_Cost:  1999


Billing_Issues
Minimum value in Billing_Issues:  0
Maximum value in Billing_Issues:  1


Portal_Usage
Minimum value in Portal_Usage:  0
Maximum value in Portal_Usage:  1


Referrals_Made
Minimum value in Referrals_Made:  0
Maximum value in Referrals_Made:  3


Distance_To_Facility_Miles
Minimum value in Distance_To_Facility_Miles:  0.5
Maximum value in Distance_To_Facility_Miles:  50.0


Churned
Minimum value in Churned:  0
Maximum value in Churned:  1

In [9]:
# Convert Last_Interaction_Date to datetime
df['Last_Interaction_Date'] = pd.to_datetime(df['Last_Interaction_Date'])
# Extract year from Date
df['Last_Interaction_Year'] = df['Last_Interaction_Date'].dt.year
# Extract month from Date
df['Last_Interaction_Month'] = df['Last_Interaction_Date'].dt.month
# Extract day from Date
df['Last_Interaction_Day'] = df['Last_Interaction_Date'].dt.day
# Extract week from Date
df['Last_Interaction_Weekday'] = df['Last_Interaction_Date'].dt.weekday
# Remove Last_Interaction_Date from the Dataframe
df = df.drop(columns=['Last_Interaction_Date'])